parameters:
    paths:
        - packages
        - stubs/phpstan/trait_usage_harness.php

    level: 6

    reportUnmatchedIgnoredErrors: false

    treatPhpDocTypesAsCertain: false

    parallel:
        maximumNumberOfProcesses: 8

    tmpDir: var/cache/phpstan

    scanFiles:
        - stubs/phpstan/stripe.stub.php
        - stubs/phpstan/laravel-cashier.stub.php
        - stubs/phpstan/faker.stub.php
        - stubs/phpstan/trait_usage_harness.php
        - stubs/phpstan/EventInteractionManager.stub.php

    stubFiles:
        - stubs/phpstan/stripe.stub.php
        - stubs/phpstan/laravel-cashier.stub.php
        - stubs/phpstan/faker.stub.php

    ignoreErrors:
        - identifier: 'missingType.generics'
        - identifier: 'nullsafe.neverNull'
        - identifier: 'missingType.iterableValue'
        - identifier: 'return.unusedType'
        - identifier: 'trait.unused'
        - identifier: 'argument.type'
        - identifier: 'larastan.noEnvCallsOutsideOfConfig'
        - identifier: 'classConstant.notFound'
        - identifier: 'class.extendsFinal'
        - identifier: 'function.alreadyNarrowedType'
        -
            identifier: 'return.type'
            message: '#should return.*but returns.*(?:[$]this|static)\(#i'
        -
            identifier: 'return.type'
            message: '#should return.*Builder.*<.*>.*but returns.*Builder.*<.*>.#i'

    excludePaths:
        analyseAndScan:
            - vendor
            - '*/Testing/*'
