name: Monorepo Split Manual

on:
  push:
    tags:
      - '*'

jobs:
  split-monorepo:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - csuite
          - commerce-support
          - cart
          - chip
          - docs
          - filament-cart
          - filament-chip
          - filament-vouchers
          - jnt
          - stock
          - vouchers
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Get tag name
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      
      - name: Install splitsh-lite
        run: |
          wget https://github.com/splitsh/lite/releases/download/v1.0.1/lite_linux_amd64.tar.gz
          tar -zxpf lite_linux_amd64.tar.gz
          chmod +x splitsh-lite
          sudo mv splitsh-lite /usr/local/bin/
      
      - name: Split ${{ matrix.package }}
        env:
          GH_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: |
          # Configure git
          git config --global user.name "AIArmada Bot"
          git config --global user.email "bot@aiarmada.com"
          
          # Split the package
          splitsh-lite --prefix=packages/${{ matrix.package }}/ --target=refs/heads/split-${{ matrix.package }}
          
          # Push to target repository
          git remote add ${{ matrix.package }} https://x-access-token:${GH_TOKEN}@github.com/AIArmada/${{ matrix.package }}.git
          git push ${{ matrix.package }} split-${{ matrix.package }}:main --force
          git push ${{ matrix.package }} split-${{ matrix.package }}:refs/tags/${{ steps.tag.outputs.tag }} --force
